# ==============================================================================
# InsureTrace India - Blockchain Node.js REST Gateway Environment Template
# ==============================================================================

PORT=3001
FABRIC_CHANNEL=mychannel
FABRIC_CHAINCODE=vehicle

# Path to Hyperledger Fabric Network & Crypto Artifacts
FABRIC_BASE_DIR=/mnt/c/Users/kansa/Documents/Personal/Projects/ClaimSure/backend/blockchain
CORE_PEER_LOCALMSPID=Org1MSP
CORE_PEER_ADDRESS=localhost:7051
ORDERER_ADDRESS=localhost:7050
